@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --muted: #64748b;
  --dark-section: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

.font-archivo {
  font-family: var(--font-archivo);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

